@mixin display-flex(
  $flex-direction,
  $justify-content: center,
  $align-items: center,
  $flex-wrap: wrap
) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
}

@mixin font-set($font-family, $font-size) {
  font-family: $font-family;
  font-size: $font-size;
}

@mixin learn-more-btn($width, $height, $background, $text-color) {
  width: $width;
  height: $height;
  background: $background;
  color: $text-color;
}
