<header class="header">
  <div class="header__title">
    <img src="assets/fxoro_logo.png" alt="Fxoro Logo" />
  </div>

  <div class="header__subtitle">
    <div>
      <span class="dark-part">WHAT DOES THE</span>
    </div>
    <div>
      <span class="light-part">FUTURE HOLD </span
      ><span class="dark-part">?</span>
    </div>
  </div>

  <p class="header__content">
    The global financial landscape continues to evolve, presenting new
    challenges and opportunities. At
    <strong>FX<span class="header__content golden-text">ORO</span></strong
    >, we understand that staying ahead in these dynamic times requires not just
    adaptability, but also a deep understanding of the underlying trends shaping
    our economic future.
  </p>

  <div class="header__cta-btn">
    <button class="header__cta-btn learn-more-btn">Learn more</button>
  </div>

  <p class="header__btn-note">
    Trading is risky.<br />
    You may lose your entire capital.
  </p>

  <div class="header__picture-container">
    <img
      src="assets/coins.png"
      alt="Coins picture"
      class="header__coin-picture"
    />
  </div>
  <hr />
</header>

<article class="market-observation-container">
  <div class="market-observation-container__title">
    <div class="market-observation-container__dark-part">
      MARKET OBSERVATIONS
    </div>
    <div class="market-observation-container__dark-part">FOR 2024</div>
  </div>

  <p class="market-observation-container__article-content">
    Saxo Bank has just released an article called "Outrageous Predictions*,"
    which can serve as a compass for the trends and shifts that could influence
    the financial world in 2024. Our Team provides a breakdown of this
    information:
  </p>
</article>

<section class="body-section">
  <div class="blue-body-container" *ngFor="let item of items">
    <!-- <div class="blue-body-container__item" *ngFor="let item of items"> -->
    <img src="{{ item.path }}" class="blue-body-container__picture" />

    <div class="blue-body-container__picture-title">
      {{ item.title | uppercase }}
    </div>
    <div class="blue-body-container__picture-title">
      {{ item.subtitle | uppercase }}
    </div>

    <p class="blue-body-container__blue-body-content">
      {{ item.text }}
    </p>
    <!-- </div> -->
  </div>
</section>

<section class="body-section-white">
  <div class="blue-body-container" *ngFor="let item of whiteItems">
    <!-- <div class="blue-body-container__item" *ngFor="let item of items"> -->
    <img src="{{ item.path }}" class="blue-body-container__picture" />

    <div class="blue-body-container__picture-title">
      {{ item.title | uppercase }}
    </div>
    <div class="blue-body-container__picture-title">
      {{ item.subtitle | uppercase }}
    </div>

    <p class="body-section-white__white-body-content">
      {{ item.text }}
    </p>
    <!-- </div> -->
  </div>
</section>

<div class="cta-body-container">
  <div class="header__cta-btn">
    <button class="header__cta-btn learn-more-btn">Learn more</button>
  </div>

  <p class="header__btn-note">
    Trading is risky.<br />
    You may lose your entire capital.
  </p>
</div>

<section class="commitment-section">
  <div class="commitment-section__title">
    FX<span style="color: #ffb10a">ORO</span>'S COMMITMENT
  </div>
  <div
    class="commitment-section__text-container"
    *ngFor="let item of commitmentList"
  >
    <div class="commitment-section__title-and-subtitle">
      {{ item.title }}
    </div>
    <div class="commitment-section__title-and-subtitle">
      {{ item.subtitle }}
    </div>
    <div class="commitment-section__content">
      {{ item.text }}
    </div>
  </div>
</section>
